<div class="container" *ngIf="currentBlog">
  <h3>Edit this blog</h3>
  <div class="row" style="text-align:left">
    <div class="col-md-12">

      <h2 [hidden]="hidden">Your Blog has been Updated successfully!!</h2>
      <form #createBlogForm="ngForm" (ngSubmit)="updateBlogData()" [hidden]="!hidden">

        <div class="form-group">


          <label>Blog Title</label>
          <input type="text" name="blogTitle" [(ngModel)]="currentBlog.title" #title="ngModel" class="form-control" placeholder="Enter blog Title"
            required>

        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
         Blog Title is required 
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" name="blogDescription" [(ngModel)]="currentBlog.description" #description="ngModel" class="form-control" placeholder="Enter Description"
            required>
        </div>
        <div class="form-group">
          <label>Enter the blog body</label>
          <textarea name="blogBodyHtml" [(ngModel)]="currentBlog.body" #bodyHtml="ngModel" class="form-control" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <label>Category</label>
          <select [(ngModel)]="currentBlog.category" #category="ngModel" name="blogCategory" class="form-control" id="category" required>
                <option *ngFor="let category of possibleCategories" [value]="category">{{category}}</option>
              </select>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a type="submit" class="btn btn-warning" (click)="goBack()">Go Back</a>
          </div>
          <div class="col-md-4">
            <a type="button" class="btn btn-danger" (click)="deleteBlogs()">Delete</a>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary float-right" [disabled]="!createBlogForm.form.valid">Update</button>
          </div>
        </div>

        
      </form>
    </div>

  </div>

</div>