<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" *ngIf="lastBlog">
      <div class="carousel-item active">
        <img [src]= "lastBlog.imagePath" alt="Los Angeles" width="1028px" height="360px">
        <div class="carousel-caption">
          <h3>{{lastBlog.title}}</h3>
          <p>{{lastBlog.description}}</p>
          <button type="button" class="btn btn-info" [routerLink]="['/allBlogs',lastBlog.id]">Read</button>
        </div>   
      </div>
      <div class="carousel-item" *ngIf="secondLastBlog">
        <img [src]="secondLastBlog.imagePath" alt="Chicago" width="1028px" height="360px">
        <div class="carousel-caption">
          <h3>{{secondLastBlog.title}}</h3>
          <p>{{secondLastBlog.description}}</p>
          <button type="button" class="btn btn-info" [routerLink]="['/allBlogs',secondLastBlog.id]">Read</button>
          
        </div>   
      </div>
      <div class="carousel-item" *ngIf="thirdLastBlog">
        <img [src]="thirdLastBlog.imagePath" alt="New York" width="1028px" height="360px">
        <div class="carousel-caption">
          <h3>{{thirdLastBlog.title}}</h3>
          <p>{{thirdLastBlog.description}}</p>
          <button type="button" class="btn btn-info" [routerLink]="['/allBlogs',thirdLastBlog.id]">Read</button>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>