<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BlogApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-item nav-link"  routerLink="/"><i class="fa fa-home fa-lg"></i>Home<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link " routerLinkActive="active" routerLink="/myBlog"><i class="fa fa-user-o"></i>My Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about"><i class="fa fa-info fa-lg"></i>About</a>
            </li>
        </ul>
        <div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-item nav-link" *ngIf="currentUser" routerLinkActive="active"(click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </li>
            </ul>
        </div>    
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-sm-1">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial"
            target="_top">Angular 7 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>