<app-carousel></app-carousel>
<br><br><br>

<div class="row" style="text-align:center" *ngIf="allBlogs">
  <div *ngFor="let blog of allBlogs" class="col-md-4" style="padding-bottom: 20px;">

    <div class="card h-100">
      <div class="card-header">{{blog.category | uppercase}}</div>
      <div class="card-body">
        <img src="http://localhost:3000/images/chef.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">{{blog.title | uppercase}}</h5>
        <p class="card-text">{{blog.description}}</p>
      </div>
      <div class="card-text text-muted">Posted on {{blog.created | date}}<br /> by {{blog.author}}
        <br /><br /><a [routerLink]="['/allBlogs',blog.id]" class="btn btn-primary">Read</a>
        <br><br>

      </div>
    </div>
  </div>
</div>


<p>Total no.of blogs: {{total}}</p>